beautifulsoup4
boto3
botocore
bs4
certifi
chardet
Click
Cython
docutils
emoji
Flask
future
gunicorn
idna
itsdangerous
Jinja2
jmespath
MarkupSafe
numpy
python-dateutil
requests
s3transfer
scikit-learn
six
soupsieve
urllib3
vaderSentiment
Werkzeug